
/* RexSpecs theme */

/* Baby Design System*/
:root {
    --l1: hsl(0, 0%, 10%);
    --l2: hsl(0, 0%, 20%);
    --l3: hsl(0, 0%, 30%);
    --l4: hsl(0, 0%, 40%);
    --l5: hsl(0, 0%, 50%);
    --l6: hsl(0, 0%, 60%);
    --l7: hsl(0, 0%, 70%);
    --l8: hsl(0, 0%, 80%);
    --l9: hsl(0, 0%, 90%);
    --lw: hsl(0, 0%, 100%);

    --good: hsl(120, 98%, 24%);
    --bad: hsl(0, 100%, 40%);
    --worse: hsl(0, 100%, 50%);
}

/* Result indicators */

td.success {
    font-weight: bold;
    color: var(--good);
}

td.fail {
    font-weight: bold;
    color: var(--bad);
}

td.error {
    background-color: var(--worse);
}

/* Typography */

h1, h1 a, h1 a:visited {
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    color: var(--l1);
}

h1 a:hover {
    text-decoration: underline;
}

h2 {
    color: var(--l2);
}

/* Copied from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

body {
    margin: 25px 25px;
    padding: 0;
    background-color: var(--lw);
    font-family: "Proxima Nova", sans-serif;
}

table {
    background-color: var(--lw);
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    border-radius: 5px;
}

table thead tr:first-of-type th:first-of-type {
    border-top-left-radius: 5px;
}

table thead tr th:last-of-type {
    border-top-right-radius: 5px;
}

table thead tr {
    background-color: var(--l5); !important;
    color: var(--lw);
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    background-color: var(--lw);
}

table tbody tr:hover {
    background-color: var(--l7) !important;
}

table tbody tr:nth-of-type(even) {
    background-color: var(--l8);
}

table tbody tr:nth-of-type(odd) {
    background-color: var(--l9);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--l4);
}

table table thead tr th {
    background-color: var(--l5);
    color: var(--lw);
    text-align: left;
}

table table tbody tr td {
    background-color: var(--lw);
}

